*.DS_Store
*.asv
AAESinMATLAB
SH Test
Active Acoustics Review/Reverberators
Active Acoustics Review/FDN-IRs
Active Acoustics Review/Figures
Active Acoustics Review/Generated AAES RIRs
Active Acoustics Review/Coordinates (pre-randomisation)
Active Acoustics Review/Coordinates SH Test
Active Acoustics Review/Directivity Test
Active Acoustics Review/Generated AAES RIRs SH Test
Active Acoustics Review/AAES Receiver RIRs
Misc Scripts From Review Paper Folder
